{% extends 'base_layout.html' %}

{% block body %}
<div class="mt-5">


    <div class="row">

        <div class="col-sm-4">
            <h2>Title</h2>
            <div class="card" style="width:350px">
                <img class="rounded-circle card-img-top" src="jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <p class="card-text">title_english</p>
                    <p class="card-text">title_japanese</p>
                    <p class="card-text">genre</p>

                </div>
            </div>


            <ul class="list-group" id="myList">
                <li class="list-group-item">
                    <div class="btn-group">


                    </div>


                <li class="list-group-item">
                    <div class="btn-group">


                    </div>


            </ul>

            <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                            Score

                        </a>

                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                            Rank....

                        </a>

                        <span style="float: right; padding: 15px;" class="badge badge-secondary">ต้องดู!!</span>



                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body">

                            <body data-spy="scroll" data-target=".navbar" data-offset="50"></body>


                            <ul class="navbar-nav">
                                <h2>synopsis</h2>
                                <p class="card-text">
                                    ==================================================
                                    ==================================================
                                    ==================================================
                                    ==================================================
                                    ==================================================
                                    ==================================================
                                    ==================================================
                                    ==================================================
                                    ==================================================
                                    ==================================================
                                    ==================================================
                                    ==================================================</p>



                            </ul>
                            </nav>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

            
            
            
{% endblock %}