<!doctype html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>




<h1>BMI App</h1>

<body>


    <form method="POST" action="/">
        <label class="text-primary" for="weight">Weight:</label><br>
        <input type="text" name="weight"><br>
        <label class="text-primary" for="height">Height:</label><br>
        <input type="text" name="height"><br><br>
        <input type="submit" class="btn btn-success" value="Submit">
    </form>

    {% if bmi %}
    <p>
        {% print("Your BMI is {}.".format(bmi)) %}
    </p>
    <p>
        {% print("{}.".format(bmi_Catagory)) %}
    </p>
    {% endif %}
</div>
</body>